@using WebSalonSpa.Domain.BindingModel

@model LoginBindingModel
@{
                /**/

                Layout = "_Layout.cshtml";
                ViewBag.Title = "Log in";
}

@section Styles
{
    <style type="text/css">
    </style>
}

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1"><b>Salon and Spa</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Use a local account to log in.</p>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", @id = "login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        <label>Username/Email</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter username or email" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <!-- /.input group -->
                    </div>
                    
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password" })
                            <div class="input-group-append password-show-hide" aria-control="Password">
                                <div class="input-group-text">
                                    <span class="fas fa-eye"></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <!-- /.input group -->
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            @*<button type="submit" class="btn btn-primary btn-block">Log in</button>*@
                            <input type="submit" class="btn btn-primary btn-block" value="Log in" class="btn btn-default" />
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <p class="mb-0">
                    @Html.ActionLink("Register as a new user", "RegisterCustomer")
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $("#login-form").submit(function (e) {
                        $("input").attr("readonly", true); 
                        $("#RememberMe").attr("disabled", true); 
                        $(":submit").attr("disabled", true);
                    });
                    $.each($(".password-show-hide"), function (key, value) {
                        //initiate
                        let fieldId = $(value).attr("aria-control") !== null || $(value).attr("aria-control") !== undefined ? $(value).attr("aria-control") : "";
                        let input = $("#" + fieldId).get(0);
                        let showPassHolder = $(value).find(".input-group-text");
                        let isFieldPassword = ((input !== null || input !== undefined) && input.type === "password");
                        if (!isFieldPassword)
                            //we want to make sure it is password type then force type to passord
                            input.type = "password";
                        //icon should be identified as password and default as hide password icon
                        showPassHolder.html("<span class='fas fa-eye'></span>");
                        $(value).css("cursor", "pointer");
                        //end initiate
                        $(value).click(function (e) {
                            showHidePassword();
                        });

                        let showHidePassword = function () {
                            isFieldPassword = ((input !== null || input !== undefined) && input.type === "password");
                            if (isFieldPassword) {
                                input.type = "text";
                                showPassHolder !== null && showPassHolder !== undefined ?
                                    showPassHolder.html("<span class='fas fa-eye-slash'></span>") : false;
                            }
                            else {
                                input.type = "password";
                                showPassHolder !== null && showPassHolder !== undefined ?
                                    showPassHolder.html("<span class='fas fa-eye'></span>") : false;
                            }
                        }
                    });
                });
            </script>
        }
