@model WebSalonSpa.Domain.ViewModel.BusinessViewModel


<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">UserName</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.User.UserName</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">Email</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.BusinessEmail</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">Category</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.BusinessCategory.BusinessCategoryName</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">Primary Phone Number</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.PrimaryPhoneNumber</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">Second Phone Number</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.SecondPhoneNumber</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">City</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.City.Name</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">Complete address</p>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    <b>@Model.CompleteAddress</b>
                </p>
            </div>
        </div>
        @*<div class="post">
            <div class="text-muted">
                <p class="text-sm">
                    UserName
                    <b class="d-block">@Model.User.UserName</b>
                </p>
            </div>

            <div class="text-muted">
                <p class="text-sm">
                    Email
                    <b class="d-block">@Model.BusinessEmail</b>
                </p>
            </div>

            <div class="text-muted">
                <p class="text-sm">
                    Category
                    <b class="d-block">@Model.BusinessCategory.BusinessCategoryName</b>
                </p>
            </div>

            <div class="text-muted">
                <p class="text-sm">
                    Primary Phone Number
                    <b class="d-block">@Model.PrimaryPhoneNumber</b>
                </p>
            </div>

            <div class="text-muted">
                <p class="text-sm">
                    Second Phone Number
                    <b class="d-block">@Model.SecondPhoneNumber</b>
                </p>
            </div>

            <div class="text-muted">
                <p class="text-sm">
                    City
                    <b class="d-block">@Model.City.Name</b>
                </p>
            </div>

            <div class="text-muted">
                <p class="text-sm">
                    Complete address
                    <b class="d-block">@Model.CompleteAddress</b>
                </p>
            </div>
        </div>*@
    </div>
</div>